In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

 Step 1 - Scraping

In [2]:
#setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\carol\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [3]:
# Save url and visit the page
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
#collect the latest tand extract text News Title form html document 
title = soup.find('div', class_='content_title').text
#collect Paragraph Text 
new_p = soup.find('div', class_='article_teaser_body').text
# Print title and paragraph
print(title)
print('------------------------------------------------------')
print(new_p)

NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
------------------------------------------------------
The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.

In [6]:
# get the image url
url="https://spaceimages-mars.com/"
browser.visit(url)

# set the path
xpath = "/html/body/div[1]/img"
#bring the full resolution
full = browser.find_by_xpath(xpath)
image_ = full[0]
image_.click()

In [7]:
#create a beautiful object
html = browser.html
soup = bs(html, "html.parser")
image_url = soup.find("img", class_="headerimage fade-in")["src"]
#concatenate to find the image url
featured_image_url = url + image_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

Mars Facts

In [8]:
#set the URL
url ="https://galaxyfacts-mars.com/"

#Extract the Facts Table from the URL using pandas
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
# set the columns in the dataframes
mars_df = tables[1]
mars_df.rename(columns ={0 :'Description', 1: 'Dimension'}, inplace = True)
mars_df

            Description                      Dimension
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [10]:
#convert the dataframe back to html format
fact = mars_df.to_html(classes = 'table table-striped th-align-left table-bordered')
fact

'<table border="1" class="dataframe table table-striped th-align-left table-bordered">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Dimension</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [11]:
#extract the image from html file
url ="https://marshemispheres.com/"
browser.visit(url)

#create a beautiful object
html = browser.html
soup = bs(html, "html.parser")

Step 2 - MongoDB and Flask Application

In [12]:
# Extract the hemisphere element
results = soup.find("div", class_="collapsible results")
hemispheres = results.find_all("div", class_="item")
#create the list to store the image urls
hemisphere_image_urls=[]

#Iterate trough each image
for hemisphere in hemispheres :
    # Scrape the titles
    title = hemisphere.find("h3").text
    
    # the hem links
    link = hemisphere.find("a")["href"]
    url ="https://marshemispheres.com/"
    hem_link = url + link    
    browser.visit(hem_link)
    
    # Parse link HTMLs with Beautiful Soup
    html = browser.html
    soup = bs(html, "html.parser")
    
    # Scrape the full size images
    load = soup.find("div", class_="downloads")
    load_url = load.find("a")["href"]
    
    # Add URLs and Titles 
    hemisphere_image_urls.append({"title": title, "image_url": url + load_url})

# Print image title and url
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [13]:
# Finally, close the Google Chrome window...
browser.quit()

Step 2 - MongoDB and Flask Application

Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.

Start by converting your Jupyter notebook into a Python script called `scrape_mars.py` with a function called `scrape` that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.

Next, create a route called `/scrape` that will import your `scrape_mars.py` script and call your `scrape` function.

Store the return value in Mongo as a Python dictionary.

Create a root route `/` that will query your Mongo database and pass the mars data into an HTML template to display the data.

Create a template HTML file called `index.html` that will take the mars data dictionary and display all of the data in the appropriate HTML elements. Use the following as a guide for what the final product should look like, but feel free to create your own design.

Step 3 - Submission

To submit your work to BootCampSpot, create a new GitHub repository and upload the following:

1. The Jupyter Notebook containing the scraping code used.

2. Screenshots of your final application.

3. Submit the link to your new repository to BootCampSpot.

4. Ensure your repository has regular commits and a thorough README.md file

## Hints

* Use Splinter to navigate the sites when needed and BeautifulSoup to help find and parse out the necessary data.

* Use Pymongo for CRUD applications for your database. For this homework, you can simply overwrite the existing document each time the `/scrape` url is visited and new data is obtained.

* Use Bootstrap to structure your HTML template.